{% extends "CurVitae/index.html" %}

{% block education %}
  <div class="education-section px-3 px-lg-4 pb-4">
    <h2 class="h3 mb-4">Education</h2>
    <div class="timeline">
      {% for edu in education %}
      <div class="timeline-card timeline-card-success card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1">{{ edu.course }} <span class="text-muted h6">{{ edu.institution_name }}</span></div>
          <div class="text-muted text-small mb-2">{{ edu.year_start }} - {{ edu.year_end }}</div>
          <div><span class="text-muted h6">{{ edu.score }}</span></div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock education %}